body {
	margin:0;
}
main {
	margin:0 10px;
}
.header {
	background: #7B7C74;
	height: 58px;
}
.header:after {
	content: "";
	display: block;
	clear: both;
}
.main-menu {
	float: right;
	list-style: none;
	color: white;
	background: #7B7C74;
	padding: 0px;
	position: absolute;
	right: 100px;
	margin: 0;
	font-family: helvetica;

}
.dropdown {
	position: relative;
	display: inline-block;
	width: 153px;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	text-align: center;
}
.dropdown:hover {
	background: #A6A297;
}
.sub-menu {
	width: 153px;
    display: none;
    position: absolute;
    background-color: #E3DEDA;
    margin: 10px 0 0 -10px;
    padding: 0 0 10px 0;
    z-index: 1;
    color: #000000;
    text-align: left;
}
.main-menu .sub-menu li {
	list-style: none;
	margin: 10px 0 0 0;
}
.main-menu .sub-menu li:hover {
	background: #9195C5;
}
.main-menu .sub-menu a {
	text-decoration: none;
	color: #000000;
	padding: 10px;
	display: block;
}
.main-menu .sub-menu a:hover {
	background: #9195C5;
	display: block;
	box-sizing: border-box;
}
.sub-menu a:hover {background-color: #9195C5}

.dropdown:hover .sub-menu {
    display: block;
}

.dropdown:hover .menu-link {
    background-color: #9195C5;
}
.blocks {
	width: 100%;
}
.bl {
	float: left;
	width: 250px;
	margin: 10px 20px;
}
.bl:after {
	content: "";
	display: block;
	clear: both;
}
.center {
	margin: 0 auto;
}
.center:after {
	content: "";
	display: block;
	clear: both;
}
p {
	font-family: open sans;
	line-height: 20px;
	font-size: 16px;
	padding: 0 20px;
}
@media (min-width: 320px) {
	.center {
		width: 400px;
	}
	.bl {
		background: #f5f5f8;
	}
	p {
		color: #000000;
	}
}
@media (min-width: 768px) {
	.center {
		width: 700px;
	}
	.bl {
		background: #a0a28c;
	}
	p {
		color: #000000;
	}
}
@media (min-width: 992px) {
	.center {
		width: 958px;
	}
	.bl {
		background: #d7d7ff;
	}
	p {
		color: #4e2d2d;
	}
}
@media (min-width: 1200px) {
	.center {
		width: 1180px;
	}
	.bl {
		background: #e0e0ea;
	}
	p {
		color: #4c4c4c;
	}
}