body {
	margin:0;
}
main {
	margin:0 10px;
}
header {
	background: #cadbed;
	height: 100px;
	width: 100%;
}
header:after {
	content: "";
	display: block;
	clear: both;
}
.top {
	width: 84%;
	height: 100%;
	margin: 0 auto;
}
.logo {
    width: 200px;
	height: 100%;
	float: left;
	padding: 30px 0 0 0;
}
.menu {
	width: 572px;
	padding-left: 100px;
	height: 100%;
	float: left;
}
.main-menu {
	list-style: none;
	color: #2c71b8;
	padding: 0px;
	position: absolute;
	font-family: helvetica;
	font-size: 21px;
	font-weight: 300;
}
.dropdown {
	width: 143px;
	height: 51px;
	margin: 0;
	padding: 15px 0 0 0;
	box-sizing: border-box;
	float: left;
	text-align: center;
}
li.dropdown {
	border-right: 1px solid #2c71b8;
	border-left: 1px solid transparent;
}
.dropdown:hover {
	background: #2c71b8;
	color: #ffffff;
}
.search {
	width: 260px;
	height: 100%;
	text-align: center;
	float: left;
}
.search-form {
	padding-top: 30px;
}
.search-form input {
	width: 200px;
	height: 40px;
	font-family: helvetica;
	font-size: 21px;
	font-weight: 300;
	color: #2c71b8;
	border: 1px solid #2c71b8;
}
.search-form input::placeholder {
	color: #2c71b8;
	padding-left: 5px;
}
div.cart {
	width: 40px;
	height: 40px;
	margin-top: 30px;
	background: #ffffff;
	float: left;
}
a.my-cart {
	width: 40px;
	height: 40px;
	background-image: url(../img/cart.png);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}
div.cart:hover {
	background-color: #2c71b8;
}
a.my-cart:hover {
	background-image: url(../img/cart-white.png);
	background-repeat: no-repeat;
	background-position: center;

}
